@import url(http://fonts.googleapis.com/css?family=Raleway);
.wrapper{
min-height: 960px;
}
form#userForm, form#editForm {
padding: 0 35px 15px;
}
label.gender {
padding-top: 0 !important;
}
table tr th{
    background: #f8f8f8;
}
.search-box {
    padding-bottom: 0;
}
@media screen and (max-width: 368px){
.wrapper{
    min-width: 340px;
}   
}
.alert-warning {
    color: #fcfcfc !important; 
    background-color: #6a9ffc !important;
    border-color: #faebcc !important;
}

.red-text{
  color:red;
}
.pull-right{
margin-left:90% !important;
}
.change_color
{
	color: #ffffff !important;
}